* {
	padding: 0px;
	margin: 0px;
}

html {
	background: #3fbaa0;
}

hr {
	height: 2px;
	background: #FFFFFF;
	border: none;
	margin: 1rem 0 1rem 0;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	height: 5rem;
	font-size: 50px;
	margin: 3rem 3rem;
}

#container {
	position: relative;
	width: 300px;
	height: 350px;
	margin: 30px auto;
	background: #B56357;
}

input[type=text] {
	width: 94%;
	height: 3rem;
	padding:.5rem;
	font-size: 3rem;
	margin: 0 .8rem 0 0;
	text-align: right;
	color: #000000;

}

input[type=button] {
	float:left;
	width: 25%;
	height: 3.8rem;
	color:#FFFFFF;
	font-size: 2rem;
	text-align:center;
	border: 1px solid #3fbaa0;
	background: #298471;

}

input[type=button]:hover {
	background: #0E735E;

}



@media screen and (max-width:320px) {
  h1 {
  margin: .5rem;
	padding: .50rem 1rem;
  font-size: 2rem;
}
  #container {
	background: #3fbaa0;
  height: 2rem;
  margin: .5rem auto;
}
  
  input[type=text] {
	height: 1.5rem;
	padding: .5rem;
	font-size: 1.5rem;
}
  
  input[type=button] {
	height: 1.8rem;
	font-size: 1rem;
}
  hr {
    display: none;
  }
  
